/*-- scss:defaults --*/
// Base document colors
$body-bg: #ECE5C7;
$body-color: #354259;
$link-color: #75AADB;
$navbar-bg: #C2DED1;
$navbar-fg: #354259;
$footer-bg: #ECE5C7;
$footer-fg: #354259;

// Code blocks
$code-block-bg-alpha: -.9;